<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="sh1">Products Details</h3>
            <table class=" table table-primary  table-hover mt-3 ">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col"> userId</th>
                        <th scope="col">date</th>
                        <th scope="col">productId</th>
                        <th scope="col">quantity</th>
                    </tr>
                </thead>
                <tbody *ngFor="let r of apiData">
                    <tr >
                        <td>{{r.id}}</td>
                        <td>{{r.userId}}</td>
                        <td>{{r.date}}</td>
                        <td>
                            <div *ngFor="let p of r.products">{{p.productId}}</div> 
                        </td>
                        <td>
                            <div *ngFor="let p of r.products">{{p.quantity}}</div> 
                        </td>
                        
                      
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>